/* Stylesheet by Jeff Kalar for Lab1 GEOG 575 */

#mapid { height: 1000px; }
#mapid { margin-left: auto;
         margin-right: 10px;}

#header {align: right;}

table, th, {
  border: 0.2px solid black;
  text-align: center;
}

td { text-align: left;}


body { background-color: white; 
       background-image: url(baseball.png);
       opacity: 0.9;}

h2 { color: black;}

h1 { color: black;
     font-style: italic;
     font-weight: bold;
     font-variant: small-caps;
     font-size: 30px;}

p { color: navy; 
    font-size: 20px;}


#cont {overflow:hidden;}
#main {float:left; background: none; width:20%; margin-left: 5px;}
#sec{ float:right; background: none; width:80%; margin-right: 5px;}
.c_box{ background: none;}




/* .range-slider { 
    width: 200%;
} */


.legend, .temporal-legend {
    padding: 15px 15px;
    font: 16px/16px Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    background: white;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    border-radius: 25px;
}
#legendTitle {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1px;
    font-variant: small-caps;
}
.symbolsContainer {
    float: left;
    margin-left: 55px;
}
.legendCircle {
    border-radius:50%; 
    border: 1px solid navy; 
    background: rgba(0, 0, 128, .4);
    display: inline-block;
}
.legendValue {
    position: absolute;
    margin-bottom: 1px;
    margin-top: 1px;
    color: black;
    right: 15px;
}