/* Stylesheet by Jeff Kalar for Lab1 GEOG 575 */

#mapid { height: 590px; }
#mapid { margin: auto;
         margin-left: auto; } 

body { background-color: skyblue; }

h2 { color: red;}

/* .range-slider { 
    width: 200%;
} */


.legend, .temporal-legend {
    padding: 4px 7px;
    font: 16px/16px Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#legendTitle {
    text-align: center;
    margin-bottom: 15px;
    font-variant: small-caps;
}
.symbolsContainer {
    float: left;
    margin-left: 55px;
}
.legendCircle {
    border-radius:50%; 
    border: 1px solid red; 
    background: rgba(255, 0, 0, .4);
    display: table-caption;
}
.legendValue {
    position: absolute;
    right: 15px;
}