/* Stylesheet by Jeff Kalar for Lab1 GEOG 575 */

#mapid { height: 600px; }
#mapid { margin: auto; }

body { background-color: black; }

/* .range-slider { 
    width: 500%;
    text-align: center;
    image-orientation: vertical;
} */